<style>
td, th {
    outline: 1px solid red !important;
    background-color: rgba(255, 0, 0, 0.1);
}
/* ------------------------------------------------------------------------------
  positioning
------------------------------------------------------------------------------ */
* {
  box-sizing: border-box;
}

.row {
  margin-left : 5px;
  margin-right: 5px;
}
  
.column {
  float: left;
  width: 44%;
  padding: 2px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear  : both;
  display: table;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 4px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}


#roctabs {
    padding   : 10px;
    height    : 440px;
    width     : 600px; /*60% ;*/ /* 600px; */
    overflow  : auto;
    background: #bdb;
}

#artdaq_process_tabs {
    padding   : 10px;
    height    : 440px;
    width     : 600px; /*60% ;*/ /* 600px; */
    overflow  : auto;
    background: #bdb;
}

#node_tabs {
    padding   : 10px;
    height    : 440px;
    width     : 600px; /*60% ;*/ /* 600px; */
    overflow  : auto;
    background: #bdb;
}

#content {
/*  margin: 40%; */
/*  height: 300px; */
/*  width:  400px; */
  background-color: #bdb;
}

#roc_content {
/*  margin: 40%; */
/*  height: 300px; */
/*  width:  400px; */
  background-color: #bdb;
}


/* ------------------------------------------------------------------------------
    Style the tabs
------------------------------------------------------------------------------ */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  /* outline: 1px solid red  !important; debugging deature */
  display: flex;
  width  : max-content; /* Makes the div only as wide as the buttons */
}

.dtctabs {
  flex: 1; /* Optional: ensures buttons take up equal space */
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float     : left;
  border    : none;
  outline   : none;
  cursor    : pointer;
  padding   : 5px 5px;
  transition: 0.3s;
  font-size : 14px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #bdb;
}

/* Create an active/current tablink class */
.tab button.disabled {
  background-color: #e9aa;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
/* ------------------------------------------------------------------------------
  drop-up menus
------------------------------------------------------------------------------ */
.dropbtn {
  background-color: #bdb;
  color           : black;
  padding         :   10px;
  font-size       : 12px;
  border          : none;
}

.dropup {
  position: relative;
  display : inline-block;
}

.dropup-content {
  display         : none;
  position        : absolute;
  background-color: #f1f1f1;
  min-width       : 160px;
  bottom          : 20px;
  z-index         : 2;
}

.dropup-content a {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}

.dropup-content div {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}

.dropup-content a:hover {background-color: #ccc}

.dropup-content div:hover {background-color: #ccc}

.dropup:hover .dropup-content {
  display: block;
}

.dropup:hover .dropbtn {
  background-color:   #bdb   /*  #2980B9;  */
}

/* ------------------------------------------------------------------------------
  new custom menu
------------------------------------------------------------------------------ */
.btn {
    display    : inline-block;
    padding    : 2px 6px;
    margin     : 1px;
    background : #bdb;    /* #3498db; */
    color      : black;
    cursor     : pointer;
    user-select: none;
    border     : 1px solid #ccc;
}

.btn:active {
  background-color: #8d8;
}

.daq_menu {
    display   : none;
    position  : absolute;
    background-color:   #bdb;   /*  #2980B9;  */
    color     : black
    /* background: white; */
    border    : 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    z-index   : 3
}

.daq_menu div {
    padding   : 2px 6px;
    cursor    : pointer;
    background:   #bdb   /*  #2980B9;  */
    color     : black
}

.daq_menu div:hover {
    background: #229933;
    color     : white;
}
/*
scrollong buffer
*/

#messageFrameA {
    height          : 99vh;          /* Limit the height */
    overflow-y      : auto;       /* Add vertical scrollbar when needed */
    background-color: #ebffeb; /* Terminal black */
    color           : black;         /* Classic matrix green */
    font-family     : monospace;
    padding         : 1px;
    border          : 1px solid #333;
    white-space     : pre-wrap;  /* Preserves newlines and wraps long lines */
    display         : flex;
    flex-direction  : column; /* Allows us to manage message order easily */
}
</style>
