/* General body styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Main container styling */
#mmain {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Page title */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

/* Table styling */
.mtable {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
    margin: 0 auto;
}

.mtable th, .mtable td {
    border: 1px solid #aaa;
    padding: 12px;
    text-align: center;
}
/*
.mtable th {
    background-color: #0055ff;
    color: white;
}

.mtable tr:hover {
    background-color:   #F6C492;
}
*/

/* Buttons styling */
.mtable td button {
    padding: 8px 12px;
    background-color: #66ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.mtable td button:hover {
    background-color: #0056b3;
}

